<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581335653472-94jckrbi04jgpte1hkh1dnop2f11th3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581335653472-94jckrbi04jgpte1hkh1dnop2f11th3k</string>
	<key>API_KEY</key>
	<string>AIzaSyB3odhKHmJj_esv4kjSIGM78nToMglgXlk</string>
	<key>GCM_SENDER_ID</key>
	<string>581335653472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sorbon.somonikurs</string>
	<key>PROJECT_ID</key>
	<string>somonikurs</string>
	<key>STORAGE_BUCKET</key>
	<string>somonikurs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581335653472:ios:fd42abbcb76c4f6be2f705</string>
	<key>DATABASE_URL</key>
	<string>https://somonikurs.firebaseio.com</string>
</dict>
</plist>